.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-btn-container {
  display: flex;
  justify-content: center;
}

#play-btn {
  padding: 18px;
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  margin-top: 20px;
  border-radius: 15%;
  border: none;
  background-color: #4ECCA3;
  border: 2px dotted #386358;
}
.btn:hover {
  cursor: pointer;
}
#play-btn:active {
  background-color: #386358;
  border-color: #4ECCA3;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
